html {
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
}

body {
  background: linear-gradient(0deg, #C2E4C3, #C2E4C3);
}

h1 {
  font-size: 40px;
  font-family: cursive;
  background-color: none;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: -15px;
}

h2 {
  font-size: 20px;
  font-family: cursive;
  background-color: none;
  color: black;
  margin-top: -40px;
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: 50px;
}

 button {
  border-color: #479F4A;
  border-radius: 30px;
  color: black;
  background-color: #93D88C;
  padding: 10px 60px;
  text-align: center;
  font-size: 30px;
  font-family: cursive;
  transition-duration: 0.2s;
  cursor: pointer;
}

button:hover {
  color: white;
  background-color: #479F4A;
  border-color: #D5F0D6;
}

h3 {
  border: 1px solid black;
  border-radius: 30px;
  font-size: 30px;
  font-family: cursive;
  background-color: white;
  margin-bottom: 40px;
  padding: 20px;
}

h4 {
  border: 1px solid black;
  border-radius: 30px;
  padding: 80px 50px;
  font-size: 20px;
  font-family: cursive;
  background-color: white;
}

#about {
  margin-right: 750px;
  margin-bottom: 25px;
  margin-top: -60px;
  background-color: #F4F0C0;
}

#planner {
  margin-top: -215px;
  margin-right: 325px;
  margin-left: 325px;
  margin-bottom: 25px;
  background-color: #DAB8F2;
}

#habits {
  margin-top: -215px;
  margin-left: 750px;
  margin-bottom: 25px;
  background-color: #70A74A;
}

#studying {
  margin-right: 675px;
  margin-bottom: 25px;
  background-color: #C5E9F4;
}

#homework {
  margin-left: 400px;
  margin-right: 275px;
  margin-top: -215px;
  background-color: #866FC4;
}

#help {
  margin-top: -216px;
  margin-left: 800px;
  background-color: lightgray;
}

 button1 {
  border-color: #479F4A;
  border-radius: 100px;
  color: black;
  background-color: #E4DFA7;
  padding: 5px 10px;
  text-align: center;
  font-size: 30px;
  font-family: cursive;
  transition-duration: 0.2s;
  margin-right: 525px;
  cursor: pointer;
}

#toAbout:hover {
  color: black;
  background-color: #AAA671;
}

#ABOUT {
  margin-top: 100px;
  margin-bottom: 500px;
}

