html {
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
}

body {
  background: linear-gradient(0deg, #C2E4C3, #C2E4C3);
}

h1 {
  font-size: 40px;
  font-family: cursive;
  background-color: none;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: -15px;
}

h2 {
  font-size: 20px;
  font-family: cursive;
  background-color: none;
  color: black;
  margin-top: -40px;
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: 50px;
}

  button {
  border-color: #479F4A;
  color: black;
  background-color: #93D88C;
  padding: 10px 60px;
  text-align: center;
  font-size: 30px;
  font-family: cursive;
  transition-duration: 0.2s;
  cursor: pointer;
}

button:hover {
  color: white;
  background-color: #479F4A;
  border-color: #D5F0D6;
}

h3 {
  font-size: 30px;
  font-family: cursive;
  background-color: none;
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: 25px;
}

h4 {
  border: 1px solid black;
  padding: 80px 50px;
  font-size: 20px;
  font-family: cursive;
  background-color: white;
}

#about {
  margin-right: 750px;
  margin-bottom: 25px;
  background-color: #DAB8F2;
}

#planner {
  margin-top: -215px;
  margin-right: 325px;
  margin-left: 325px;
  margin-bottom: 25px;
  background-color: #DAB8F2;
}

#habits {
  margin-top: -215px;
  margin-left: 750px;
  margin-bottom: 25px;
}
